<!-- Footer -->
<footer class="bg-success text-center text-white">
  <div class="container p-2">
    <!-- Texto -->
    <section class="mb-4">
      <p>Escritório Momberg, Rua João Martins Siqueira Nº 91 | Guareí-SP</p>
    </section>
    <!--/ Texto -->

    <!-- Links -->
    <section class="">
      <div class="row">
        <div class="col-lg-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">
            <a routerLink='/inicio' class="text-white">Início</a>
          </h5>
        </div>
        <div class="col-lg-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">
            <a routerLink='/servicos' class="text-white">Serviços</a>
          </h5>
        </div>
        <div class="col-lg-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">
            <a routerLink='/sobre' class="text-white">Sobre</a>
          </h5>
        </div>
        <div class="col-lg-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">
            <a routerLink='/contato' class="text-white">Contato</a>
          </h5>
        </div>
      </div>
    </section>
    <!--/ Links -->
  </div>

  <!-- Direitos e Versão -->
  <hr class="mt-3 mb-3">
  <div class="text-center p-0">
    Desenvolvindo Por:
    <a
      class="text-white"
      href="https://www.linkedin.com/in/rafaelmombergdeandrade/"
      target="_blank"
      >Rafael Momberg de Andrade</a
    >
  </div>
  <p class="">Versão 1.0</p>
  <!--/ Direitos e Versão -->
</footer>
<!--/ Footer -->
