<div class="container-fluid">
  <div class="row">
    <!-- Comunicação -->
    <div class="col-md-4 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">
          <h1 class="text-center">Fale Conosco</h1>

          <div class="ml-5">
            <ul class="icones">
              <li>
                <a
                  href="https://api.whatsapp.com/send?phone=55159912211913&text=&source=&data=" target="_blank"
                  ><i class="fa fa-whatsapp mr-2 mb-3" aria-hidden="true"></i>+55 15
                  991221-1913</a
                >
              </li>
              <li>
                <a href="rosinhamomberg@hotmail.com" target="_blank"
                  ><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                  rosinha_momberg@hotmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="col-md-8 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">

          <div class="mt-5">
            <ul class="icones">
              <li>
                <a
                  href="https://www.google.com.br/maps/place/R.+Jo%C3%A3o+Martins+de+Siqueira,+91+-+Per%C3%ADmetro+Urbano,+Guare%C3%AD+-+SP,+18250-000/@-23.37056,-48.1872405,17z/data=!3m1!4b1!4m5!3m4!1s0x94c683b149cb06ff:0x9f54995273b2daa0!8m2!3d-23.3705649!4d-48.1850518"
                  target="_blank"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Rua João
                  Martins Siqueira Nº 91 | Guareí-SP</a
                >
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <!--/ Comunicação -->
  </div>
</div>
