<div class="container-fluid">
  <div class="row">
    <!-- Comunicação -->
    <div class="col-md-4 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">
          <h1 class="text-center">Fale Conosco</h1>

          <div class="ml-5">
            <ul class="icones">
              <li>
                <a
                  href="https://api.whatsapp.com/send?phone=55159912211913&text=&source=&data="
                  ><i class="fa fa-whatsapp" aria-hidden="true"></i>+55 15
                  991221-1913</a
                >
              </li>
              <li>
                <a href="rosinhamomberg@hotmail.com"
                  ><i class="fa fa-envelope" aria-hidden="true"></i>
                  rosinha_momberg@hotmail.com</a
                >
              </li>
              <li>
                <a
                  href="https://www.google.com.br/maps/place/R.+Jo%C3%A3o+Martins+de+Siqueira,+91+-+Per%C3%ADmetro+Urbano,+Guare%C3%AD+-+SP,+18250-000/@-23.37056,-48.1872405,17z/data=!3m1!4b1!4m5!3m4!1s0x94c683b149cb06ff:0x9f54995273b2daa0!8m2!3d-23.3705649!4d-48.1850518"
                  ><i class="fa fa-map-marker" aria-hidden="true"></i>Rua João
                  Martins Siqueira Nº 91 | Guareí-SP</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/ Comunicação -->

    <!-- Formulário -->
    <div class="col-md-8 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">
          <form>
            <div>
              <label for="exampleFormControlInput1"></label>
              <input
                type="name"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Nome Completo"
              />
            </div>
            <div>
              <label for="exampleFormControlInput1"></label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Endereço de email"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Assunto"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"></label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                placeholder="Mensagem"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <!--/ Formulário -->
  </div>
</div>
