<div class="container-fluid">
  <div class="row">
    <!-- Comunicação -->
    <div class="col-md-4 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">
          <h1 class="text-center">Fale Conosco</h1>

          <div>
            <ul class="icones">
              <li>
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/ Comunicação -->

    <!-- Formulário -->
    <div class="col-md-8 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-mld-10">
          <form>
            <div>
              <label for="exampleFormControlInput1"></label>
              <input
                type="name"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Nome Completo"
              />
            </div>
            <div>
              <label for="exampleFormControlInput1"></label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Endereço de email"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Assunto"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"></label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                placeholder="Mensagem"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <!--/ Formulário -->
  </div>
</div>
