/* Imagem */
#img-bg {
    background-image: url("https://i.imgur.com/zFyY0kg.jpg");
  
    min-height: 720px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Texto */
  h1 {
    color: #7c795d;
    font-family: "Trocchi", serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
  }
  
  p {
    color: #4c4a37;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  