<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 py-2 py-md-0 px-5">
        <img
          src="https://i.imgur.com/MRNU8wj.jpg"
          class="img-fluid"
          alt="Rosa Momberg"
        />
      </div>
      <div class="col-12 col-md-6 py-2 py-md-0">
        <h1 class="text-center">Nossa Missão</h1>
        <p class="lead">
          <b
            >Inaugurado em Janeiro de 2000 por Rosa Momberg, o Escritório
            Momberg vem atendendo Guareí e região, tendo como clientes empresas
            de médio a pequeno porte, visando a qualidade e respeito para
            entregar o melhor sempre.</b
          >
        </p>
      </div>
    </div>
  </div>
</div>
<span id="topo"></span>
