<div class="container-fluid">
  <h2 class="mb-5 ml-5 mt-3">SERVIÇOS CONTÁBEIS</h2>
  <div class="row d-flex align-items-center mt-2 mp-2">
    <div class="col-md-6 center mt-2 mb-5 center">
      <table class="mr-5 ml-5">
        <tr>
          <th>Pessoa Jurídica</th>
        </tr>
        <tr>
          <td>Abertura / Encerramento de Empresas</td>
        </tr>
        <tr>
          <td>Serviços Gerais de Contabilidade Empresarial</td>
        </tr>
      </table>
    </div>

    <div class="col-md-6 center mt-2 mb-5 center">
      <table class="mr-5 ml-5">
        <tr>
          <th>Pessoa Física</th>
        </tr>
        <tr>
          <td>Imposto de Renda</td>
        </tr>
        <tr>
          <td>Declarações / Procurações / Recibos</td>
        </tr>
        <tr>
          <td>Contraro Particulares / Aluguéis</td>
        </tr>
      </table>
    </div>
  </div>
</div>
