<div class="container-fluid"></div>

<div class="row d-flex align-items-center mt-2 mp-2">
  <!-- Texto -->
  <div class="col-md-4">
    <div class="row d-flex justify-content-center">
      <div class="col-ml-2 mr-5 ml-5">
        <h1 class="text-center">Feliz dia das Mães!</h1>
        <p class="text-center">
          "Deus não pode estar em todos os lugares e por isso fez as mães."
        </p>
      </div>
    </div>
  </div>
  <!--/ Texto -->

  <!-- Imagem -->
  <div class="col-md-8" id="img-bg"></div>
</div>
<!--/ Imagem -->
